@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
  }
  
  
  header {
    background-color: #666;
    padding: 30px;
    position: fixed;
    width: 100%;
    
    text-align: center;
    font-size: 35px;
    color: white;
    top: 0;
  }
  
  nav {
    position: fixed;
    float: left;
    width: 20%;
    margin-top: 162px;
    height: 100%;
    background: #ccc;
    padding: 20px;
  }
  
 
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    margin: 300px auto;
    margin-bottom: 50px;
    float:right;
    padding: 30px;
    width: 70%;
    background-color: #f1f1f1;

    
    background-color: whitesmoke;
    border: 1px solid  orange;

    box-shadow: 15px 10px 8px rgb(231, 163, 73);
  
  }


  footer {
    position: fixed;
    width: 100%;
    bottom: 0;

    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
