@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
  }
  
  
  header {
    background-color: #666;
    padding: 30px;
    position: fixed;
    width: 100%;
    
    text-align: center;
    font-size: 35px;
    color: white;
    top: 0;
  }

  .dropdown{
    position: relative;
    display: inline-block;
  }
  
#btn {
  background-color: teal;
  color: white;
  padding: 16px;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

#btn:hover, #btn:focus{
  background-color: rgb(3, 218, 218);
}

#arkiv{
  font-size: 12px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#arkiv a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#arkiv a:hover{
  background-color: green;
}
  main{
    margin-top: 250px;
  }
  
  article {
    margin: 50px 25% 50px 25%;  
    padding: 30px;
    background-color: #f1f1f1;
    background-color: whitesmoke;
    border: 1px solid  black;
  }


  footer {
    position: fixed;
    width: 100%;
    bottom: 0;

    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
