*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}


header{
    display: flex;
    justify-content:space-evenly;
    top: 0;
    position: fixed;
    width: 100%;

    color: whitesmoke;
    background-color: rgb(30, 30, 63);

    font-size: 32px;
   
}

main{
       background-color: white;
       display: flex;
       flex-direction: column;

}


section{
    margin: 120px auto;
    max-width: 450px;
   
    padding: 10px;

    background-color: rgb(176, 176, 216);
    border: 1px solid  black;

    box-shadow: 15px 10px 8px rgb(145, 144, 144);
}
section h2{
    text-align: center;
    font-size: 26px;
  
}
section p{
    font-size: 20px;
}


nav{
    position: fixed;
    width: 15%;
    margin-top: 120px;
    margin-left: 10px;
    border:  1px solid black;
    font-size: 26px;
    padding: 10px;
}

footer{
  
   
    position: fixed;
    width: 100%;
    bottom: 0;

    color: whitesmoke;
    background-color: rgb(30, 30, 63);
    font-size: 22px;
    text-align: center;
}